*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color: rgb(103, 115, 161);
}
h1{
    text-align: center;
    font-size: 10rem;
    font-weight: bold;
    color: rgb(86, 97, 139);
    margin-bottom: 30px;
    text-shadow: -1px 0 rgb(59, 66, 94), 0 1px rgb(59, 66, 94), 1px 0 rgb(59, 66, 94), 0 -1px rgb(59, 66, 94);
}
.container-info-1{
    display: grid;
    grid-template-columns: 1fr 3fr 4fr 1fr;
    justify-items: center;
    align-items: baseline;
}
.arrow-left{
    width: 30%;
    height: 10%;
    cursor: pointer;
    align-self: center;
}
.container-poke{
    display: grid;
    grid-template-rows: 5fr 1fr;
    justify-items: center;
    align-items: center;
}
#img-poke{
    width: 88.854%;
    height: 100%;
}
.types-poke{
    display: inherit;
    grid-template-columns: 1fr;
    width: 100%;
    justify-items: center;
}
.type-poke{
    display: inherit;
    justify-items: center;
    align-items: center;
    width: 100px;
    height: 35px;
    border-radius: 30px;
}
.second-type-poke{
    display: none;
    width: 100px;
    height: 35px;
    border-radius: 30px;
    justify-items: center;
    align-items: center;
}
.type-poke p{
    font-size: 1.6rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.second-type-poke p{
    display: none;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.canvas-container{
    height: 80%;/*400px*/
    width: 80%;/*400px*/
}
.arrow-right{
    width: 30%;
    height: 10%;
    transform: rotate(180deg);
    cursor: pointer;
    align-self: center;
}
.container-info-2{
    display: grid;
    width: 50vw;
    height: 10vh;
    background-color: rgb(100, 178, 209);
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 10px;
}
.container-info-2 p{
    font-size: 1.6rem;
    font-family: 'Times New Roman', Times, serif;
}