*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
html{
    font-size: 62.5%;
}
body{
    background-color: rgb(103, 115, 161);
    font-family: 'Times New Roman', Times, serif;
}
body::-webkit-scrollbar{
    width: 8px;
}
body::-webkit-scrollbar-thumb{
    background-color: rgb(190, 197, 227);
    border-radius: 5px;
}
body::-webkit-scrollbar-thumb:active{
    background-color: rgb(167, 174, 211);
}
.header__seeker{
    position: relative;
    display: grid;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template: 1fr / 1fr 1fr;
    width: 30vw;
    height: 50px;
    background-color: rgb(59, 66, 94);
    align-items: center;
    justify-items: center;
    padding: 10px 0 10px 10px;
    border-radius: 10px;
}
.header__seeker__input{
    width: 23vw;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.4rem;
    border: none;
    text-transform:lowercase;
}
.header__seeker__button{
    height: 30px;
    width: 50px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(190, 197, 227);
}
.header__title{
    color: rgb(205, 210, 227);
    font-size: 10rem;
    margin-bottom: 30px;
    text-align: center;
    text-shadow: -2px 0 rgb(38, 39, 44), 0 2px rgb(38, 39, 44), 2px 0 rgb(38, 39, 44), 0 -2px rgb(38, 39, 44);
}
.main{
    display: grid;
    grid-template-columns: 1fr 3fr 4fr 1fr;
    justify-items: center;
}
.main__mobile{
    display: none;
}
.main__arrow{
    align-self: center;
    cursor: pointer;
    height: 10%;
    width: 30%;
}
#main__arrow--right{
    transform: rotate(180deg);
}
.main__poke{
    align-items: center;
    display: grid;
    grid-template-rows: 5fr 1fr;
    justify-items: center;
}
.main__poke__img{
    display: none;
    height: 250px;
    width: 250px;
}
.main__poke__types{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
.main__poke__types__type{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    height: 35px;
    width: 100px;
    border: 1px solid rgb(0, 0, 0);
}
.main__poke__types__text{
    font-size: 1.6rem;
    font-weight: bold;
}
.main__canvas{
    align-items: center;
    display: grid;
    height: 400px;
    width: 350px;
}
.secondary{
    display: grid;
    gap: 20px;
    grid-template: 1fr 2fr / 3fr 1fr 1fr;
    margin-top: 20px;
    height: 70vh;
}
.secondary__description{
    align-items: center;
    background-color: rgb(95, 167, 196);
    border-radius: 10px;
    display: inherit;
    margin: 0 0 0 20px;
    padding: 0 20px 0 20px;
}
.secondary__description__text{
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
}
.secondary__info{
    background-color: rgb(95, 167, 196);
    border-radius: 10px;
    display: inherit;
    grid-area: 1 / 2 / 3 / 4;
    grid-template: repeat(4, 1fr) / 1fr 1fr;
    height: 67.8vh;
    justify-items: center;
    margin: 0 20px 20px 0;
    padding: 10px;
    row-gap: 20px;
}
.secondary__info__container{
    background-color: rgb(119, 185, 211);
    border-radius: 10px;
    display: grid;
    width: 230px;
}
#secondary__info__container--height{
    grid-area: 1 / 1 / 2 / 2;
}
.secondary__info__container--title{
    text-align: center;
    font-size: 2rem;
}
.secondary__info__container--text{
    font-size: 1.6rem;
    text-align: center;
}
#secondary__info__container--weight{
    grid-area: 1 / 2 / 2 / 3;
}
#secondary__info__container--gender{
    grid-area: 2 / 1 / 3 / 2;
}
.secondary__info__container__genders{
    display: grid;
    justify-items: center;
}
.secondary__info__container__gender--img{
    display: none;
    height: 20px;
    width: 20px;
}
#secondary__info__container__gender__text--unknown1,
#secondary__info__container__gender__text--unknown2{
    font-weight: 400;
}
#secondary__info__container--category{
    grid-area: 2 / 2 / 3 / 3;
}
#secondary__info__container--skills{
    grid-area: 3 / 1 / 4 / 4;
}
.secondary__info__container__skills__results{
    column-gap: 10px;
    display: flex;
    justify-content: space-around;
}
.abilities{
    cursor: pointer;
}
#secondary__info__container--hidden-ability{
    grid-area: 4 / 1 / 5 / 4;
}
.secondary__qualities{
    background-color: rgb(36, 38, 39);
    border-radius: 10px;
    display: inherit;
    grid-area: 2 / 1 / 3 / 2;
    grid-template: 1fr 1fr / 1fr 1fr;
    height: 40vh;
    margin: 0 0 0 20px;
    width: auto;
}
.secondary__qualities__general{
    display: grid;
    grid-template: 1fr 4fr / 1fr;
    height: 27vh;
    padding-bottom: 5px;
}
.secondary__qualities__endurance{
    background-color: rgb(134, 211, 119);
    clip-path: polygon(0% 0%, 100% 0%, 97% 100%, 0% 100%);
    border-top-left-radius: 10px;
}
.secondary__qualities__weakness{
    background-color: rgb(211, 119, 162);
    border-top-right-radius: 10px;
    clip-path: polygon(3% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.secondary__qualities__immunity{
    background-color: rgb(211, 206, 119);
    width: 100%;
    height: 98px;
    grid-area: 2 / 1 / 3 / 3;
    border-top: 10px solid rgb(36, 38, 39);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.secondary__qualities__title{
    margin: 10px 0 10px 0;
    text-align: center;
}
.secondary__qualities__title__text{
    font-size: 1.8rem;
}
.secondary__qualities__endurance__types, .secondary__qualities__weakness__types, .secondary__qualities__immunity__types{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.secondary__qualities__types--general{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 30px;
    display: none;
    height: 25px;
    justify-self: center;
    align-self: center;
    width: 75px;
}
.secondary__qualities__types--text{
    display: grid;
    align-self: center;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    align-items: center;
}
.multiplier{
    width: 24px;
    height: 21px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 50%;
    color: rgb(255, 255, 255);
    display: grid;
    align-content: center;
    font-size: 1.4rem;
}