*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
html{
    font-size: 62.5%;
}
body{
    background-color: rgb(103, 115, 161);
    border-top: 10px solid rgb(59, 66, 94);
    font-family: 'Times New Roman', Times, serif;
}
body::-webkit-scrollbar{
    width: 8px;
}
body::-webkit-scrollbar-thumb{
    background-color: rgb(190, 197, 227);
    border-radius: 5px;
}
body::-webkit-scrollbar-thumb:active{
    background-color: rgb(167, 174, 211);
}
.main-search-container{
    position: relative;
    display: grid;
    margin: 0 auto;
    margin-bottom: 20px;
    grid-template: 1fr / 1fr 1fr;
    width: 30vw;
    height: 50px;
    background-color: rgb(59, 66, 94);
    align-items: center;
    justify-items: center;
    padding: 10px 0 10px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.main-search__input{
    width: 23vw;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.4rem;
    border: none;
}
.main-search__button{
    height: 30px;
    width: 50px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(190, 197, 227);
}
.main-title{
    color: rgb(86, 97, 139);
    font-size: 10rem;
    margin-bottom: 30px;
    text-align: center;
    text-shadow: -1px 0 rgb(59, 66, 94), 0 1px rgb(59, 66, 94), 1px 0 rgb(59, 66, 94), 0 -1px rgb(59, 66, 94);
}
.main-container{
    display: grid;
    grid-template-columns: 1fr 3fr 4fr 1fr;
    justify-items: center;
}
.mobile__arrow__container{
    display: none;
}
.arrow{
    align-self: center;
    cursor: pointer;
    height: 10%;
    width: 30%;
}
.pokemon{
    align-items: center;
    display: grid;
    grid-template-rows: 5fr 1fr;
    justify-items: center;
}
.pokemon__img{
    height: 250px;
    width: 250px;
}
.pokemon__types{
    display: inherit;
    justify-items: center;
    width: 100%;
}
.pokemon__types__type{
    align-items: center;
    border-radius: 30px;
    height: 35px;
    justify-items: center;
    width: 100px;
}
.pokemon__types__type-1{
    display: inherit;
}
.pokemon__types__text{
    font-size: 1.6rem;
    font-weight: bold;
}
.pokemon__types__type-2{
    display: none;
}
.pokemon__types__type-2__text{
    display: none;
}
.canvas{
    align-items: center;
    display: grid;
    height: 400px;
    width: 350px;
}
.arrow-right{
    transform: rotate(180deg);
}
.secondary-container{
    display: grid;
    gap: 20px;
    grid-template: 1fr 2fr / 2fr 1fr 1fr;
    margin-top: 20px;
    height: 70vh;
}
.pokemon-description{
    align-items: center;
    background-color: rgb(95, 167, 196);
    border-radius: 10px;
    display: inherit;
    margin: 0 0 0 20px;
    padding: 0 20px 0 20px;
}
.pokemon-description__text{
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
}
.pokemon-information{
    background-color: rgb(95, 167, 196);
    border-radius: 10px;
    display: inherit;
    grid-area: 1 / 2 / 3 / 4;
    grid-template: repeat(4, 1fr) / 1fr 1fr;
    height: 65.5vh;
    justify-items: center;
    margin: 0 20px 20px 0;
    padding: 10px;
    row-gap: 20px;
}
.pokemon-information__container__title{
    text-align: center;
    font-size: 2rem;
}
.pokemon-information__container{
    background-color: rgb(119, 185, 211);
    border-radius: 10px;
    display: grid;
    width: 20vw;
}
.pokemon-information__height-container{
    grid-area: 1 / 1 / 2 / 2;
}
.pokemon-information__container__result{
    font-size: 1.6rem;
    text-align: center;
}
.pokemon-information__weight-container{
    grid-area: 1 / 2 / 2 / 3;
}
.pokemon-information__sex-container{
    grid-area: 2 / 1 / 3 / 2;
}
.pokemon-information__sex-container__img-container{
    display: grid;
    justify-items: center;
}
.pokemon-information__sex-container__img-container__img{
    height: 20px;
    width: 20px;
}
.pokemon-information__sex-container__img-container__text{
    font-weight: 400;
}
.pokemon-information__category-container{
    grid-area: 2 / 2 / 3 / 3;
}
.pokemon-information__skills-container{
    grid-area: 3 / 1 / 4 / 4;
}
.pokemon-information__skills-container__result-container{
    column-gap: 10px;
    display: grid;
}
.pokemon-information__skills-container__result-container__text{
    cursor: pointer;
}
.pokemon-information__hidden-ability-container{
    grid-area: 4 / 1 / 5 / 4;
}
.qualities{
    background-color: rgb(36, 38, 39);
    border-radius: 10px;
    display: inherit;
    grid-area: 2 / 1 / 3 / 2;
    grid-template: 1fr 1fr / 1fr 1fr;
    height: 40vh;
    margin: 0 0 0 20px;
    width: auto;
}
.qualities__general-container{
    display: grid;
    grid-template: 1fr 4fr / 1fr;
    height: 25vh;
}
.qualities__endurance{
    background-color: rgb(134, 211, 119);
    clip-path: polygon(0% 0%, 100% 0%, 97% 100%, 0% 100%);
    border-top-left-radius: 10px;
}
.qualities__weakness{
    background-color: rgb(211, 119, 162);
    border-top-right-radius: 10px;
    clip-path: polygon(3% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.qualities__immunity{
    background-color: rgb(211, 206, 119);
    width: 100%;
    grid-area: 2 / 1 / 3 / 3;
    border-top: 10px solid rgb(36, 38, 39);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.qualities__title{
    margin: 10px 0 10px 0;
    text-align: center;
}
.qualities__title__text{
    font-size: 1.8rem;
}
.qualities__endurance__types, .qualities__weakness__types, .qualities__immunity__types{
    display: grid;
}
.qualities__types__general-type{
    border: 1px solid;
    border-radius: 30px;
    display: none;
    height: 25px;
    justify-self: center;
    width: 75px;
}
.qualities__types__general-text{
    align-self: center;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}